<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Winter Profile Page</title>


      <meta name="author" content="Swapnil" />
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>

      <!--Only for demo purpose - no need to add.-->
      <!-- <link rel="stylesheet" href="css/demo.css" /> -->
  	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/demo.css') }}">
	
  	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    
  	    <!-- <link rel="stylesheet" href="css/style.css"> -->
  </head>
  <body>
	  		
<div class="ScriptTop">
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">
 
            <!-- Ad Here -->
            
        </div>
        <div class="col-rt-2">
            <ul>
                <li>
            </ul>
        </div>
    </div>
</div>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	<h1>Winter Profile Page</h1>
                <p>Welcome to Winter world.</p>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- Student Profile -->
<div class="student-profile py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
             <img class="profile_img" src="{{url_for('static', filename='winter.jpg')}}"  alt="Winter dp">
            <h3>Winter Modi</h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Pet ID:</strong>002</p>
            <p class="mb-0"><strong class="pr-1">Pet Breed:</strong>Husky</p>
            <p class="mb-0"><strong class="pr-1">Sub-Breed:</strong>Pure/NA</p>
              <p class="mb-0"><strong class="pr-1">Insta:</strong><a href="https://instagram.com/blue_eye_winter?utm_medium=copy_link">Winter</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">My Birthday</th>
                <td width="2%">:</td>
                <td>17th November</td>
              </tr>
              <tr>
                <th width="30%">Born Year	</th>
                <td width="2%">:</td>
                <td>2021</td>
              </tr>
              <tr>
                <th width="30%">Gender</th>
                <td width="2%">:</td>
                <td>Male</td>
              </tr>
              <tr>
                <th width="30%">Pet Address </th>
                <td width="2%">:</td>
                <td>Unit 301, 204B Hespeler road, Cambridge N1R 3H3, ON</td>
              </tr>
              <tr>
                <th width="30%">Owner Name</th>
                <td width="2%">:</td>
                <td>Gaurav Modi/Nidhi Modi</td>
              </tr>
              <tr>
                <th width="30%">Owner Contact</th>
                <td width="2%">:</td>
                <td>+1(647)612-6300</td>
              </tr>
              <tr>
                <th width="30%">Weight</th>
                <td width="2%">:</td>
                <td>10 Lbs</td>
              </tr>
              <tr>
                <th width="30%">Vaccinantion</th>
                <td width="2%">:</td>
                <td>Not yet</td>
              </tr>
            </table>
          </div>
        </div>
          <div style="height: 26px"></div>
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
          </div>
          <div class="card-body pt-0">
              <p>I am super cute and active. My favrorite toy is pig and I love lots of treats.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
           
    		</div>
		</div>
    </div>
</section>
     


    <!-- Analytics -->

	</body>
</html>